const Discord = require('discord.js');
const config = require('../config.json');
const log = require(`leekslazylogger`);
module.exports = {
  name: 'example-command',
  description: 'An example command',
  usage: '[args]',
  aliases: ['none'],
  example: 'example-command',
  args: false,
  cooldown: config.cooldown,
  guildOnly: true,
  execute(message, args) {
    const client = message.client;
    // command starts here
    message.delete();




    // command ends here
  },
};
