a code {
	color: var(--md-primary-fg-color) !important;
	background-color: rgba(213, 0, 44, 0.1) !important;
	transition: color 125ms;
	transition: background-color 125ms
}

a code:hover {
	/* ONLY WORKS ON SLATE THEME
	color: #81E8ED !important;
	background-color: rgba(129, 232, 237, 0.1) !important; */
	color: var(--md-primary-fg-color--dark) !important;
}

.md-announce {
	background-color: var(--md-primary-fg-color--dark) !important;
	color: white;
}

.md-announce a, .md-announce a:hover {
	color: white !important;
	/* text-decoration: underline; */
	font-weight: bold;
}

footer.sponsorship {
	text-align: center
}

footer.sponsorship hr {
	display: inline-block;
	width: 1.6rem;
	margin: 0 .7rem;
	vertical-align: middle;
	border-bottom: 2px solid var(--md-default-fg-color--lighter)
}

footer.sponsorship:hover hr {
	border-color: var(--md-accent-fg-color)
}

footer.sponsorship:not(:hover) .twemoji.heart-throb-hover svg {
	color: var(--md-default-fg-color--lighter) !important
}

.twemoji.heart-throb svg,
.twemoji.heart-throb-hover svg {
	position: relative;
	color: var(--md-heart);
	animation: pulse 1.5s ease infinite
}

@keyframes pulse {
	0% {
		transform: scale(1)
	}

	40% {
		color: var(--md-heart-big);
		transform: scale(1.3)
	}

	50% {
		transform: scale(1.2)
	}

	60% {
		color: var(--md-heart-big);
		transform: scale(1.3)
	}

	100% {
		transform: scale(1)
	}
}

footer.sponsorship {
	text-align: center
}

footer.sponsorship hr {
	display: inline-block;
	width: 1.6rem;
	margin: 0 .7rem;
	vertical-align: middle;
	border-bottom: 2px solid var(--md-default-fg-color--lighter)
}

footer.sponsorship:hover hr {
	border-color: var(--md-accent-fg-color)
}

footer.sponsorship:not(:hover) .twemoji.heart-throb-hover svg {
	color: var(--md-default-fg-color--lighter) !important
}