name: Lint
on: [push, pull_request]
  # push:
    # branches:
      # - main
  # pull_request:
    # branches:
      # - main

jobs:
  commitlint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: wagoid/commitlint-github-action@v5
        with:
          configFile: .commitlintrc.js
  eslint:
   runs-on: ubuntu-latest
   steps:
    - uses: actions/checkout@v6
    - uses: oven-sh/setup-bun@v2
      with:
          bun-version: latest
    - run: bun install
    - run: bun run lint
